<!DOCTYPE httml>
<html>
<head>
  <title>RNLI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .boxed {
    border: solid 1px #ea9f25;
    background-color: #ea9f25;
    padding:10px;
    width: 400px;
    border-radius: 25px;
    text-align: center;
    position: relative;
    bottom: -35px;
  }
  </style>
</head>
<body>
    <div class="container-fluid">
  <div class="row content">
    <h1 align="center"> CONSCIOUS LITTLE SICK </h1>
        </div>
    <div align="center">
      <div class="boxed"> {{test1}} </br>

      <div class="col-sm-9">
        <hr>
        <a href="explore" class="btn btn-warning" role="button"> EXPLORE </a>
        <a href="index" class="btn btn-warning" role="button"> HOME </a>
      </div>
</body>
</html>