
      .bg-1 {
          background-color: #ffffff; /* White */
          color: #555555;
      }

      h1 {
        color: #ea503f;
        font-family: courier;
        margin-left: auto;
        margin-right: auto;
      }
      .centerTable {
        margin: 0px auto;
      }
      .boxed {
        border: solid 1px #ea9f25;
        background-color: #ea9f25;
        padding:10px;
        width: 400px;
        border-radius: 25px;
        text-align: center;
        position: relative;
        bottom: -35px;
      }
      .box{ width: 100px;
        margin;

      }
      .btn {
        width: 300px;
        min-height: 150px;
        margin: 20px;
        font-size: 30px;
      }
