<!DOCTYPE httml>
<html>
<head>
  <!--start of the webpage-->
  <title>RNLI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--- importing relevant bootstrap libraries---> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--- Styling of page --->
  <style>
  .box{ width: 100px;
    margin;
  }
  .btn {
    width: 300px;
    min-height: 150px;
    margin: 20px;
    font-size: 30px;
  }
  </style>
</head>
  <!--- Main content of page --->
  <body>
    <h1 align="center"> EXPLORE </h1>
    <h3 align="center"> Please select known illness/symptoms </h3>
    <div align ="center">
      <!--- Navigation buttons --->
    <table class ="centerTable">
        <tr>
          <th> <a href="" class="btn btn-success" role="button"> Cardiac Chest Pain </a> </th>
          <th>   <a href="" class="btn btn-success" role="button"> Asthma </a> </th>
        </tr>
        <tr>
          <th> <a href="" class="btn btn-success" role="button"> Diving Related </a> </th>
          <th> <a href="" class="btn btn-success" role="button"> Sea Sickness </a> </th>
        </tr>
        <tr>
          <th> <a href="" class="btn btn-success" role="button"> Epilepsy/Fitting </a> </th>
          <th> <a href="" class="btn btn-success" role="button"> Diabetes <br> Low Blood Sugar </a> </th>
        </tr>
    </table>
  </br>
    <!--- Navigation buttons --->
    <table class ="centerTable">
      <tr>
        <th> <a href="" class="btn btn-success" role="button"> Severe Allergic <br> Reaction </a> </th>
      </tr>
    </table>
    <a href="index" class="btn btn-warning" role="button"> HOME </a>
  </div>
  </body>
</html>
