<!DOCTYPE httml>
<html>
<head>
    <title>RNLI</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <style>
      .bg-1 {
          background-color: #ffffff; /* White */
          color: #555555;
      }
      h1 {
        color: #ea503f;
        font-family: courier;
      }
      </style>

</head>
<body>
  <div class="container-fluid bg-1 text-center">
  <h1> RNLI LIFEBOAT CREW CASUALTY CARE </h1>

  <div class="container-fluid bg-3 text-center">
    <h3> Please select casualty category </h3>
        <form>
          <a href="notbreathing" class="btn btn-danger" role="button"> Unconscious Not Breathing </a>
          <a href="breathing" class="btn btn-danger" role="button"> Unconscious Breathing </a><br>
          <a href="bigsick" class="btn btn-warning" role="button"> Conscious Big Sick </a>
          <a href="littlesick" class="btn btn-warning" role="button"> Conscious Little Sick </a>
        </form>
  </div>
</body>
</html>